@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,body,#root{
  height:100vh;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p { 
    @apply text-skin-off-white
  }
  .card {
    @apply shadow-lg bg-skin-secondary rounded-2xl p-7 
  }
  .scroll-view{
    @apply relative after:bg-gradient-to-t after:from-[#17191B] after:via-[#17191B]  after:bottom-0 after:z-10 after:w-full after:h-8 after:absolute;
    @apply  before:bg-gradient-to-b before:from-[#17191B] before:via-[#17191B]  before:top-0 before:z-10 before:w-full before:h-8 before:absolute;
  }

  button.primary {
    @apply bg-skin-lime w-full max-w-xs  text-white rounded-2xl font-semibold py-4
  }
  button.danger {
    @apply bg-skin-red w-full max-w-xs text-white rounded-2xl font-semibold py-4
  }
}