@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
:root {
  --toastify-color-error: #EB434D;
  --toastify-color-light: #D2D2D3;
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  color:white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,body,#root{
  height:100vh;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-center{
    @apply  flex flex-col items-center
  }
  .center{
    @apply flex justify-center items-center
  }
  .card {
    @apply shadow-lg bg-skin-secondary rounded-2xl p-7 
  }
  .scroll-view{
    @apply relative after:bg-gradient-to-t after:from-[#17191B] after:via-[#17191B]  after:bottom-0 after:z-10 after:w-full after:h-8 after:absolute;
    @apply  before:bg-gradient-to-b before:from-[#17191B] before:via-[#17191B]  before:top-0 before:z-10 before:w-full before:h-8 before:absolute;
  }

  button.primary {
    @apply bg-skin-lime w-full max-w-xs text-skin-dark  rounded-2xl font-semibold py-4
  }
  button.secondary{
    @apply border-skin-lime border w-full max-w-xs  text-white rounded-2xl font-semibold py-4
  }
  button.danger {
    @apply bg-skin-red w-full max-w-xs text-white rounded-2xl font-semibold py-4
  }
  input.form-input{
   @apply w-full text-skin-secondary font-semibold border-skin-secondary outline-0 ring-0 border-2 bg-transparent  py-2 px-4 rounded-2xl focus:border-skin-lime bg-skin-lime hover:text-white bg-opacity-0 hover:bg-opacity-10
  }
  .form-group{
    @apply space-y-2
  }PromoPage
  .tool-tip {
    @apply absolute origin-bottom-right bottom-8 z-50 right-0 bg-[#828282] shadow-lg w-40 p-4 rounded-lg text-xs
  }
  .tool-tip::after{
    content:'';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #828282;
    position:absolute;
    transform-origin: bottom;
    bottom: -10px;
    right: 10%;
    z-index:10
  }
}

